<header class="section-header">
  <section class="header-main border-bottom">

    <app-header-main></app-header-main>
    <app-nav-bar></app-nav-bar>

  </section> <!-- header-main .// -->

</header> <!-- section-header.// -->


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y">
  <app-categ-section></app-categ-section>
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
  <app-pop-products></app-pop-products>
</section>
<!-- ========================= SECTION  END// ========================= -->


<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
  <app-pre-footer></app-pre-footer>
</section>
<!-- ========================= SECTION  END// ======================= -->



<!-- ========================= FOOTER ========================= -->
<app-footer></app-footer>
<!-- ========================= FOOTER END // ========================= -->
